In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('JC-201901-citibike-tripdata_Union.csv')
df_raw.head()

,Unnamed: 0,end station name,start station name,Date,start hour,stoptime,usertype,bikeid,birth year,end station id,end station latitude,end station longitude,gender,start station id,start station latitude,start station longitude,tripduration(sec),tripduration(min)
0,0,Grove St PATH,Hamilton Park,1/27/2019,10:29:35 AM,10:29:35 AM,Customer,29209,1969,3186,40.719586,-74.043117,U,3203,40.727596,-74.044247,284,4.73
1,1,Grove St PATH,Hamilton Park,1/27/2019,10:30:02 AM,10:30:02 AM,Customer,29490,1969,3186,40.719586,-74.043117,U,3203,40.727596,-74.044247,309,5.15
2,2,Heights Elevator,Hamilton Park,1/26/2019,1:21:48 PM,1:21:48 PM,Customer,26163,1969,3198,40.748716,-74.040443,U,3203,40.727596,-74.044247,1319,21.98
3,3,JC Medical Center,JC Medical Center,1/27/2019,11:45:28 AM,11:45:28 AM,Customer,26184,1969,3205,40.716540,-74.049638,U,3205,40.716540,-74.049638,1919,31.98
4,4,JC Medical Center,JC Medical Center,1/27/2019,11:45:53 AM,11:45:53 AM,Customer,26222,1969,3205,40.716540,-74.049638,U,3205,40.716540,-74.049638,1893,31.55

In [16]:
#df = df[df.line_race != 0]
# df1 = df_raw[df_raw['tripduration(sec)']>=90]
# df2 = df1[df1['tripduration(min)']<=1440]
# df2.to_csv('JC-201901-citibike-tripdata_Union.csv')

In [4]:
df_raw['end station name'].nunique()

117

In [5]:
df_raw['start station name'].nunique()

53